<!DOCTYPE html>
<html>
<h1><%=@pirate.name%></h1>
<p><%=@pirate.weight%></p>
<p><%=@pirate.height%></p>
<h2>Display your first ship here</h2>
<p><%=%></p>
<p><%=%></p>
<h2>Display your second ship here</h2>
<p><%=%></p>
<p><%=%></p>
</html>
