<!DOCTYPE html>
<html>
<body>
<h1>Pirate Name: <%=@pirate.name%></h1>
<p>Weight: <%=@pirate.weight%></p>
<p>Height: <%=@pirate.height%></p>
<% @ships.each do |ship| %>
  <h2>Ship Name: <%=ship.name%></h2>
  <p>Type: <%=ship.type%></p>
  <p>Booty: <%=ship.booty%></p>
<% end %>
</body>
</html>
